In [31]:
import pandas as pd
import numpy as np
import yfinance as yf

data = yf.download("GILLETTE.NS NCC.NS FORTIS.NS RECLTD.NS DIVISLAB.NS COROMANDEL.NS", period="1y")
data

[*********************100%***********************]  6 of 6 completed

Price                         Adj Close                                        \
Ticker                    COROMANDEL.NS  DIVISLAB.NS   FORTIS.NS  GILLETTE.NS
Date
2023-10-16 00:00:00+00:00   1150.341187  3632.902588  336.507904  6202.546387
2023-10-17 00:00:00+00:00   1157.414917  3624.355225  336.757385  6180.943359
2023-10-18 00:00:00+00:00   1155.820801  3618.988037  335.060852  6160.327148
2023-10-19 00:00:00+00:00   1155.771118  3615.559082  333.114838  6225.431152
2023-10-20 00:00:00+00:00   1133.553345  3532.618164  331.518158  6222.176270
...                                 ...          ...         ...          ...
2024-10-09 00:00:00+00:00   1610.550049  5989.750000  607.450012  8995.849609
2024-10-10 00:00:00+00:00   1628.050049  5942.149902  614.400024  8952.000000
2024-10-11 00:00:00+00:00   1638.949951  6142.250000  600.299988  9023.549805
2024-10-14 00:00:00+00:00   1626.099976  6214.850098  597.700012  9055.299805
2024-10-15 00:00:00+00:00   1629.900024  6228.549805  608.200012  9093.599609

Price                                                     Close               \
Ticker                         NCC.NS   RECLTD.NS COROMANDEL.NS  DIVISLAB.NS
Date
2023-10-16 00:00:00+00:00  161.730072  283.498688   1154.599976  3655.199951
2023-10-17 00:00:00+00:00  161.879028  283.546906   1161.699951  3646.600098
2023-10-18 00:00:00+00:00  157.012726  278.629852   1160.099976  3641.199951
2023-10-19 00:00:00+00:00  157.658249  284.414581   1160.050049  3637.750000
2023-10-20 00:00:00+00:00  153.338165  277.521149   1137.750000  3554.300049
...                               ...         ...           ...          ...
2024-10-09 00:00:00+00:00  298.899994  532.400024   1610.550049  5989.750000
2024-10-10 00:00:00+00:00  301.799988  544.250000   1628.050049  5942.149902
2024-10-11 00:00:00+00:00  298.450012  537.900024   1638.949951  6142.250000
2024-10-14 00:00:00+00:00  296.149994  540.349976   1626.099976  6214.850098
2024-10-15 00:00:00+00:00  300.600006  546.400024   1629.900024  6228.549805

Price                                               ...        Open  \
Ticker                      FORTIS.NS  GILLETTE.NS  ...   FORTIS.NS
Date                                                ...
2023-10-16 00:00:00+00:00  337.200012  6287.950195  ...  339.000000
2023-10-17 00:00:00+00:00  337.450012  6266.049805  ...  338.000000
2023-10-18 00:00:00+00:00  335.750000  6245.149902  ...  338.899994
2023-10-19 00:00:00+00:00  333.799988  6311.149902  ...  334.049988
2023-10-20 00:00:00+00:00  332.200012  6307.850098  ...  333.000000
...                               ...          ...  ...         ...
2024-10-09 00:00:00+00:00  607.450012  8995.849609  ...  600.000000
2024-10-10 00:00:00+00:00  614.400024  8952.000000  ...  611.000000
2024-10-11 00:00:00+00:00  600.299988  9023.549805  ...  614.400024
2024-10-14 00:00:00+00:00  597.700012  9055.299805  ...  603.250000
2024-10-15 00:00:00+00:00  608.200012  9093.599609  ...  604.000000

Price                                                                 Volume  \
Ticker                     GILLETTE.NS      NCC.NS   RECLTD.NS COROMANDEL.NS
Date
2023-10-16 00:00:00+00:00  6323.000000  162.149994  294.850006        425032
2023-10-17 00:00:00+00:00  6288.000000  164.699997  296.500000        165237
2023-10-18 00:00:00+00:00  6266.049805  163.600006  294.000000        149353
2023-10-19 00:00:00+00:00  6270.299805  158.500000  287.700012        306719
2023-10-20 00:00:00+00:00  6329.799805  159.399994  294.799988        137952
...                                ...         ...         ...           ...
2024-10-09 00:00:00+00:00  8879.000000  302.000000  529.000000        618039
2024-10-10 00:00:00+00:00  9053.700195  300.149994  536.950012        142809
2024-10-11 00:00:00+00:00  8966.599609  301.799988  540.000000         99503
2024-10-14 00:00:00+00:00  9072.849609  299.000000  540.000000         76656
2024-10-15 00:00:00+00:00  9100.849609  296.500000  544.799988          7402

Price
Ticker                    DIVISLAB.NS FORTIS.NS GILLETTE.NS   NCC.NS RECLTD.NS
Date
2023-10-16 00:00:00+00:00      274847   1443002       11656  8844431   9744816
2023-10-17 00:00:00+00:00      273198   1343240        5983  2972512   8283781
2023-10-18 00:00:00+00:00      192368    474363        7462  4981579   6449758
2023-10-19 00:00:00+00:00      350687    797192        7402  4003600  11059767
2023-10-20 00:00:00+00:00      465355    259748       13493  4525220   9900926
...                               ...       ...         ...      ...       ...
2024-10-09 00:00:00+00:00     3022787   1015365       22027  1259863   7063437
2024-10-10 00:00:00+00:00      640572   1617252       37307  6260042  10161095
2024-10-11 00:00:00+00:00     1089288   1050732        8213  1898716   4344046
2024-10-14 00:00:00+00:00      647056    754787       20306  1487277   3672179
2024-10-15 00:00:00+00:00      131183    166150        1027   461413    915288

[245 rows x 36 columns]

In [32]:
data.columns

MultiIndex([('Adj Close', 'COROMANDEL.NS'),
            ('Adj Close',   'DIVISLAB.NS'),
            ('Adj Close',     'FORTIS.NS'),
            ('Adj Close',   'GILLETTE.NS'),
            ('Adj Close',        'NCC.NS'),
            ('Adj Close',     'RECLTD.NS'),
            (    'Close', 'COROMANDEL.NS'),
            (    'Close',   'DIVISLAB.NS'),
            (    'Close',     'FORTIS.NS'),
            (    'Close',   'GILLETTE.NS'),
            (    'Close',        'NCC.NS'),
            (    'Close',     'RECLTD.NS'),
            (     'High', 'COROMANDEL.NS'),
            (     'High',   'DIVISLAB.NS'),
            (     'High',     'FORTIS.NS'),
            (     'High',   'GILLETTE.NS'),
            (     'High',        'NCC.NS'),
            (     'High',     'RECLTD.NS'),
            (      'Low', 'COROMANDEL.NS'),
            (      'Low',   'DIVISLAB.NS'),
            (      'Low',     'FORTIS.NS'),
            (      'Low',   'GILLETTE.NS'),
            (      'Low',        'NCC.NS'),
            (      'Low',     'RECLTD.NS'),
            (     'Open', 'COROMANDEL.NS'),
            (     'Open',   'DIVISLAB.NS'),
            (     'Open',     'FORTIS.NS'),
            (     'Open',   'GILLETTE.NS'),
            (     'Open',        'NCC.NS'),
            (     'Open',     'RECLTD.NS'),
            (   'Volume', 'COROMANDEL.NS'),
            (   'Volume',   'DIVISLAB.NS'),
            (   'Volume',     'FORTIS.NS'),
            (   'Volume',   'GILLETTE.NS'),
            (   'Volume',        'NCC.NS'),
            (   'Volume',     'RECLTD.NS')],
           names=['Price', 'Ticker'])

In [33]:
data=data[[('Adj Close', 'COROMANDEL.NS'),
            ('Adj Close',   'DIVISLAB.NS'),
            ('Adj Close',     'FORTIS.NS'),
            ('Adj Close',   'GILLETTE.NS'),
            ('Adj Close',        'NCC.NS'),
            ('Adj Close',     'RECLTD.NS'),]]
data

Price                         Adj Close                                        \
Ticker                    COROMANDEL.NS  DIVISLAB.NS   FORTIS.NS  GILLETTE.NS
Date
2023-10-16 00:00:00+00:00   1150.341187  3632.902588  336.507904  6202.546387
2023-10-17 00:00:00+00:00   1157.414917  3624.355225  336.757385  6180.943359
2023-10-18 00:00:00+00:00   1155.820801  3618.988037  335.060852  6160.327148
2023-10-19 00:00:00+00:00   1155.771118  3615.559082  333.114838  6225.431152
2023-10-20 00:00:00+00:00   1133.553345  3532.618164  331.518158  6222.176270
...                                 ...          ...         ...          ...
2024-10-09 00:00:00+00:00   1610.550049  5989.750000  607.450012  8995.849609
2024-10-10 00:00:00+00:00   1628.050049  5942.149902  614.400024  8952.000000
2024-10-11 00:00:00+00:00   1638.949951  6142.250000  600.299988  9023.549805
2024-10-14 00:00:00+00:00   1626.099976  6214.850098  597.700012  9055.299805
2024-10-15 00:00:00+00:00   1629.900024  6228.549805  608.200012  9093.599609

Price
Ticker                         NCC.NS   RECLTD.NS
Date
2023-10-16 00:00:00+00:00  161.730072  283.498688
2023-10-17 00:00:00+00:00  161.879028  283.546906
2023-10-18 00:00:00+00:00  157.012726  278.629852
2023-10-19 00:00:00+00:00  157.658249  284.414581
2023-10-20 00:00:00+00:00  153.338165  277.521149
...                               ...         ...
2024-10-09 00:00:00+00:00  298.899994  532.400024
2024-10-10 00:00:00+00:00  301.799988  544.250000
2024-10-11 00:00:00+00:00  298.450012  537.900024
2024-10-14 00:00:00+00:00  296.149994  540.349976
2024-10-15 00:00:00+00:00  300.600006  546.400024

[245 rows x 6 columns]