In [386]:
import pandas as pd
import numpy as np
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt
import random
random.seed(69)
risk_free_rate=.0655
data = yf.download("BANDHANBNK.NS GILLETTE.NS NCC.NS FORTIS.NS RECLTD.NS DIVISLAB.NS COROMANDEL.NS", period="1y")
data

[*********************100%***********************]  7 of 7 completed

Price                         Adj Close                             \
Ticker                    BANDHANBNK.NS COROMANDEL.NS  DIVISLAB.NS
Date
2023-10-16 00:00:00+00:00    242.241852   1150.341187  3632.902588
2023-10-17 00:00:00+00:00    237.875336   1157.414917  3624.355225
2023-10-18 00:00:00+00:00    236.287521   1155.820801  3618.988037
2023-10-19 00:00:00+00:00    227.405640   1155.771118  3615.559082
2023-10-20 00:00:00+00:00    223.783432   1133.553345  3532.618164
...                                 ...           ...          ...
2024-10-09 00:00:00+00:00    188.850006   1610.550049  5989.750000
2024-10-10 00:00:00+00:00    187.699997   1628.050049  5942.149902
2024-10-11 00:00:00+00:00    210.259995   1638.949951  6142.250000
2024-10-14 00:00:00+00:00    200.059998   1626.099976  6214.850098
2024-10-15 00:00:00+00:00    194.889999   1629.949951  6241.750000

Price                                                                       \
Ticker                      FORTIS.NS  GILLETTE.NS      NCC.NS   RECLTD.NS
Date
2023-10-16 00:00:00+00:00  336.507904  6202.546387  161.730072  283.498657
2023-10-17 00:00:00+00:00  336.757385  6180.943359  161.879028  283.546906
2023-10-18 00:00:00+00:00  335.060852  6160.327148  157.012726  278.629883
2023-10-19 00:00:00+00:00  333.114838  6225.431152  157.658249  284.414581
2023-10-20 00:00:00+00:00  331.518158  6222.176270  153.338165  277.521149
...                               ...          ...         ...         ...
2024-10-09 00:00:00+00:00  607.450012  8995.849609  298.899994  532.400024
2024-10-10 00:00:00+00:00  614.400024  8952.000000  301.799988  544.250000
2024-10-11 00:00:00+00:00  600.299988  9023.549805  298.450012  537.900024
2024-10-14 00:00:00+00:00  597.700012  9055.299805  296.149994  540.349976
2024-10-15 00:00:00+00:00  609.450012  9143.000000  300.100006  543.049988

Price                             Close                             ...  \
Ticker                    BANDHANBNK.NS COROMANDEL.NS  DIVISLAB.NS  ...
Date                                                                ...
2023-10-16 00:00:00+00:00    244.100006   1154.599976  3655.199951  ...
2023-10-17 00:00:00+00:00    239.699997   1161.699951  3646.600098  ...
2023-10-18 00:00:00+00:00    238.100006   1160.099976  3641.199951  ...
2023-10-19 00:00:00+00:00    229.149994   1160.050049  3637.750000  ...
2023-10-20 00:00:00+00:00    225.500000   1137.750000  3554.300049  ...
...                                 ...           ...          ...  ...
2024-10-09 00:00:00+00:00    188.850006   1610.550049  5989.750000  ...
2024-10-10 00:00:00+00:00    187.699997   1628.050049  5942.149902  ...
2024-10-11 00:00:00+00:00    210.259995   1638.949951  6142.250000  ...
2024-10-14 00:00:00+00:00    200.059998   1626.099976  6214.850098  ...
2024-10-15 00:00:00+00:00    194.889999   1629.949951  6241.750000  ...

Price                             Open                                Volume  \
Ticker                     GILLETTE.NS      NCC.NS   RECLTD.NS BANDHANBNK.NS
Date
2023-10-16 00:00:00+00:00  6323.000000  162.149994  294.850006       6182055
2023-10-17 00:00:00+00:00  6288.000000  164.699997  296.500000       6938782
2023-10-18 00:00:00+00:00  6266.049805  163.600006  294.000000      12057238
2023-10-19 00:00:00+00:00  6270.299805  158.500000  287.700012      17897543
2023-10-20 00:00:00+00:00  6329.799805  159.399994  294.799988       7440024
...                                ...         ...         ...           ...
2024-10-09 00:00:00+00:00  8879.000000  302.000000  529.000000       8315684
2024-10-10 00:00:00+00:00  9053.700195  300.149994  536.950012       5377952
2024-10-11 00:00:00+00:00  8966.599609  301.799988  540.000000     129824389
2024-10-14 00:00:00+00:00  9072.849609  299.000000  540.000000      36977274
2024-10-15 00:00:00+00:00  9100.849609  296.500000  544.799988      10906622

Price                                                                      \
Ticker                    COROMANDEL.NS DIVISLAB.NS FORTIS.NS GILLETTE.NS
Date
2023-10-16 00:00:00+00:00        425032      274847   1443002       11656
2023-10-17 00:00:00+00:00        165237      273198   1343240        5983
2023-10-18 00:00:00+00:00        149353      192368    474363        7462
2023-10-19 00:00:00+00:00        306719      350687    797192        7402
2023-10-20 00:00:00+00:00        137952      465355    259748       13493
...                                 ...         ...       ...         ...
2024-10-09 00:00:00+00:00        618039     3022787   1015365       22027
2024-10-10 00:00:00+00:00        142809      640572   1617252       37307
2024-10-11 00:00:00+00:00         99503     1089288   1050732        8213
2024-10-14 00:00:00+00:00         76656      647056    754787       20306
2024-10-15 00:00:00+00:00         20547      298830    343824        6146

Price
Ticker                      NCC.NS RECLTD.NS
Date
2023-10-16 00:00:00+00:00  8844431   9744816
2023-10-17 00:00:00+00:00  2972512   8283781
2023-10-18 00:00:00+00:00  4981579   6449758
2023-10-19 00:00:00+00:00  4003600  11059767
2023-10-20 00:00:00+00:00  4525220   9900926
...                            ...       ...
2024-10-09 00:00:00+00:00  1259863   7063437
2024-10-10 00:00:00+00:00  6260042  10161095
2024-10-11 00:00:00+00:00  1898716   4344046
2024-10-14 00:00:00+00:00  1487277   3672179
2024-10-15 00:00:00+00:00   794392   2028109

[245 rows x 42 columns]

In [387]:
df=data[[('Adj Close', 'BANDHANBNK.NS'),
         ('Adj Close', 'COROMANDEL.NS'),
            ('Adj Close',   'DIVISLAB.NS'),
            ('Adj Close',     'FORTIS.NS'),
            ('Adj Close',   'GILLETTE.NS'),
            ('Adj Close',        'NCC.NS'),
            ('Adj Close',     'RECLTD.NS'),]]
df

Price                         Adj Close                             \
Ticker                    BANDHANBNK.NS COROMANDEL.NS  DIVISLAB.NS
Date
2023-10-16 00:00:00+00:00    242.241852   1150.341187  3632.902588
2023-10-17 00:00:00+00:00    237.875336   1157.414917  3624.355225
2023-10-18 00:00:00+00:00    236.287521   1155.820801  3618.988037
2023-10-19 00:00:00+00:00    227.405640   1155.771118  3615.559082
2023-10-20 00:00:00+00:00    223.783432   1133.553345  3532.618164
...                                 ...           ...          ...
2024-10-09 00:00:00+00:00    188.850006   1610.550049  5989.750000
2024-10-10 00:00:00+00:00    187.699997   1628.050049  5942.149902
2024-10-11 00:00:00+00:00    210.259995   1638.949951  6142.250000
2024-10-14 00:00:00+00:00    200.059998   1626.099976  6214.850098
2024-10-15 00:00:00+00:00    194.889999   1629.949951  6241.750000

Price
Ticker                      FORTIS.NS  GILLETTE.NS      NCC.NS   RECLTD.NS
Date
2023-10-16 00:00:00+00:00  336.507904  6202.546387  161.730072  283.498657
2023-10-17 00:00:00+00:00  336.757385  6180.943359  161.879028  283.546906
2023-10-18 00:00:00+00:00  335.060852  6160.327148  157.012726  278.629883
2023-10-19 00:00:00+00:00  333.114838  6225.431152  157.658249  284.414581
2023-10-20 00:00:00+00:00  331.518158  6222.176270  153.338165  277.521149
...                               ...          ...         ...         ...
2024-10-09 00:00:00+00:00  607.450012  8995.849609  298.899994  532.400024
2024-10-10 00:00:00+00:00  614.400024  8952.000000  301.799988  544.250000
2024-10-11 00:00:00+00:00  600.299988  9023.549805  298.450012  537.900024
2024-10-14 00:00:00+00:00  597.700012  9055.299805  296.149994  540.349976
2024-10-15 00:00:00+00:00  609.450012  9143.000000  300.100006  543.049988

[245 rows x 7 columns]

In [388]:
returns = df.pct_change().dropna()
returns.columns = returns.columns.get_level_values(1)
mean_returns = returns.mean()
annualised_mean_returns=mean_returns*252
annualised_mean_returns

Ticker
BANDHANBNK.NS   -0.150549
COROMANDEL.NS    0.398186
DIVISLAB.NS      0.590520
FORTIS.NS        0.656437
GILLETTE.NS      0.435122
NCC.NS           0.765761
RECLTD.NS        0.811475
dtype: float64

In [389]:
cov_matrix = returns.cov()
cov_matrix

Ticker,BANDHANBNK.NS,COROMANDEL.NS,DIVISLAB.NS,FORTIS.NS,GILLETTE.NS,NCC.NS,RECLTD.NS
Ticker,,,,,,,
BANDHANBNK.NS,0.000596,0.000141,0.000118,0.000049,0.000044,0.000289,0.000295
COROMANDEL.NS,0.000141,0.000302,0.000094,0.000057,0.000009,0.000167,0.000209
DIVISLAB.NS,0.000118,0.000094,0.000249,0.000054,0.000039,0.000099,0.000095
FORTIS.NS,0.000049,0.000057,0.000054,0.000338,0.000009,0.000119,0.000115
GILLETTE.NS,0.000044,0.000009,0.000039,0.000009,0.000275,0.000070,0.000108
NCC.NS,0.000289,0.000167,0.000099,0.000119,0.000070,0.001015,0.000503
RECLTD.NS,0.000295,0.000209,0.000095,0.000115,0.000108,0.000503,0.001066

In [390]:
variance=returns.var()
variance
annualised_variance=variance*252
standard_deviation=np.sqrt(annualised_variance)
standard_deviation

Ticker
BANDHANBNK.NS    0.387685
COROMANDEL.NS    0.275815
DIVISLAB.NS      0.250628
FORTIS.NS        0.291917
GILLETTE.NS      0.263106
NCC.NS           0.505747
RECLTD.NS        0.518308
dtype: float64

## Equally Weighted Portfolio

In [391]:
x=1/7
weights=np.array([x for i in range(0,7)])
weights
portfolio_return=np.dot(mean_returns,weights)*252
portfolio_return
portfolio_variance = np.dot(weights.T, np.dot(cov_matrix, weights))*252
portfolio_variance
portfolio_risk=np.sqrt(portfolio_variance)

portfolio_variance

0.047351675087434174

In [392]:
portfolio_risk

0.217604400432147

In [393]:
portfolio_return

0.5009931970809761

In [394]:
Sharpe_ratio=portfolio_return-risk_free_rate
Sharpe_ratio=Sharpe_ratio/portfolio_risk
Sharpe_ratio

2.0013069414778255

## Minimum Variance Portfolio

In [395]:
def make_random_portfolio(n,returns, covariance_matrix):
    random_weights=np.random.rand(n)
    random_weights=random_weights/np.sum(random_weights)
    portfolio_return=np.dot(random_weights,returns)*252
    portfolio_variance=np.dot(random_weights.T,np.dot(covariance_matrix,random_weights))*252

    return random_weights,portfolio_return,portfolio_variance

In [396]:
x,y,z=make_random_portfolio(7,mean_returns,cov_matrix)
x

array([0.2183616 , 0.03831334, 0.20690613, 0.06494768, 0.01581012,
       0.22126676, 0.23439437])

In [397]:
y

0.51371981210211

In [398]:
z

0.07832916832474177

In [399]:
min_variance=100
min_weights=np.ones(7)
for i in range(0,100000):
    x,y,z=make_random_portfolio(7,mean_returns,cov_matrix)
    if(z<min_variance):
        min_variance=z
        min_weights=x
        min_return=y

In [404]:
min_weights

array([0.06642951, 0.15154588, 0.21673954, 0.2175815 , 0.33050599,
       0.01150328, 0.00569431])

In [405]:
min_return

0.47840036382727485

In [406]:
min_variance

0.026246913219545812